@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0B090F;
  color: #E2D8F0;
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #0B090F;
}
::-webkit-scrollbar-corner {
  background: #0B090F;
}
::-webkit-scrollbar-thumb {
  background: #352554;
  border-radius: 5px;
  border: 2px solid #0B090F;
}
::-webkit-scrollbar-thumb:hover {
  background: #563D82;
}
